.service-card {
  width: fit-content;

  & div:nth-child(2n + 1) {
    margin-left: 173px;
  }
  & div:nth-child(2n) {
    margin-right: 173px;
  }
  display: flex;
  align-items: end;
  gap: 102px;
  div {
    text-align: left;
    max-width: 400px;
    h3 {
      font-family: 'Poppins-Bold';
      font-size: 28px;
    }
    p {
      font-family: 'Poppins-Regular';
      font-size: 20px;
      padding: 20px 15px 0px 0px;
    }
    span {
      font-family: 'Poppins-Bold';
      color: var(--primary-color);
    }
  }
}
