.p-dropdown{
    background: transparent;
    border: 1px solid white;
    max-width: 112px !important;
    .p-inputtext{
        padding: 7px 10px;
    }
    .p-dropdown-trigger{
        width: 2rem;
    }
}