.general-input {
  width: 100%;
  label {
    span {
      color: var(--secondary-color);
    }
  }
  input {
    width: 100%;
    height: 47px;
    border-radius: 13px;
    margin-bottom: 5px;
  }

  #text-error {
    font-weight: bold;
    color: #ff6464;
  }
}
