@font-face {
  font-family: 'Poppins-bold';
  src: url('/fonts/Poppins-Bold.ttf');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-regular';
  src: url('/fonts/Poppins-Regular.ttf');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('/fonts/OpenSans-Bold.ttf');
  font-display: swap;
  font-style: normal;
}